<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Where's Some Water - Home</title>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/navbar'); %>
        </header>
        <main>
            <div class="jumbotron">
                <h1>Welcome to Where's Some Water</h1>
                <p>A Water Source Tracking Application for your entire town!</p>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>