<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Where's Some Water - Map</title>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/navbar'); %>
        </header>
        <main>
            <br/>
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <img src="/WaterMap.png" width="100%"/>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="height: 100%">
                            <div class="card-body">
                                <h4 class="card-title">Map</h4>
                                <h6 class="card-subtitle mb-2">Your Region</h6>
                                <p class="card-text">Water in your region is: Scarce</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>