<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Where's Some Water - Report</title>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/navbar'); %>
        </header>
        <main>
            <form action="#">
                <div class="form-group">
                    <label for="description">Describe Issue</label>
                    <textarea class="form-control" rows="7" id="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="files">Upload File(s)</label>
                    <input type="file" class="form-control-file" id="files" multiple>
                </div>
            </form>
            <button class="btn btn-primary" onclick="window.location = '/successful'">Submit</button>
        </main>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>
